/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "kontron,sl28", "fsl,ls1028a";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			regulators {
				compatible = "simple-bus";
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				can0_en_reg: fixedregulator@0 {
					compatible = "regulator-fixed";
					reg = <0>;
					regulator-name = "CAN0_EN";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1b7740>;
					gpio = <&pm_gpio 0x6 0x0>;
					enable-active-high;
				};
			};

			sound {
				compatible = "fsl,imx-audio-wm8904";
				model = "imx-wm8904";
				sai-controllers = <&sai6 &sai5>;
				audio-codec = <&wm8904>;
				audio-routing =
					"Line Out Jack", "LINEOUTR",
					"Line Out Jack", "LINEOUTL",
					"Headphone Jack", "HPOUTR",
					"Headphone Jack", "HPOUTL",
					"IN1L", "Line In Jack",
					"IN1R", "Line In Jack",
					"Mic Jack", "MICBIAS",
					"IN2L", "Mic Jack",
					"IN2R", "Mic Jack";
			};
		};
	};

	fragment@1 {
		target = <&soc>;

		__overlay__ {
			#address-cells = <0x2>;
			#size-cells = <0x2>;

			wm8904_mclk: wm8904-mclk@f130080 {
				compatible = "fsl,vf610-sai-clock";
				reg = <0x0 0xf130080 0x0 0x80>;
				clocks = <&clockgen 4 1>;
				#clock-cells = <0>;
			};
		};
	};

	fragment@2 {
		target = <&i2c3>;

		__overlay__ {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			pm_gpio: tca9554@22 {
				compatible = "nxp,pca9554";
				reg = <0x22>;
				gpio-controller;
				#gpio-cells = <0x2>;
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&i2c4>;

		__overlay__ {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			wm8904: wm8904@1a {
				compatible = "wlf,wm8904";
				reg = <0x1a>;
				clocks = <&wm8904_mclk>;
				clock-names = "mclk";
				assigned-clocks = <&wm8904_mclk>;
				assigned-clock-rates = <12500000>;
			};
		};
	};

	fragment@4 {
		target = <&can0>;
		__overlay__ {
			status = "okay";
			xceiver-supply = <&can0_en_reg>;
		};
	};

	fragment@5 {
		target = <&sai5>;
		__overlay__ {
			status = "okay";
			fsl,sai-asynchronous;
		};
	};

	fragment@6 {
		target = <&sai6>;
		__overlay__ {
			status = "okay";
			fsl,sai-asynchronous;
		};
	};
};
