/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "kontron,sl28", "fsl,ls1028a";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			leds {
				compatible = "gpio-leds";

				user_yellow {
					label = "s1914:yellow:user";
					gpios = <&cpld_gpio0 0 0>;
				};

				user_green {
					label = "s1914:green:user";
					gpios = <&cpld_gpio1 3 0>;
				};
			};
		};
	};

	fragment@1 {
		target = <&mdio0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			qphy0: ethernet-phy@7 {
				reg = <0x7>;
			};

			qphy1: ethernet-phy@8 {
				reg = <0x8>;
			};

			qphy2: ethernet-phy@9 {
				reg = <0x9>;
			};

			qphy3: ethernet-phy@10 {
				reg = <0xa>;
			};
		};
	};

	fragment@2 {
		target = <&enetc_port2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&enetc_port3>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&switch_port0>;
		__overlay__ {
			phy-handle = <&qphy0>;
			phy-connection-type = "qsgmii";
			status = "okay";
		};
	};

	fragment@5 {
		target = <&switch_port1>;
		__overlay__ {
			phy-handle = <&qphy1>;
			phy-connection-type = "qsgmii";
			status = "okay";
		};
	};

	fragment@6 {
		target = <&switch_port2>;
		__overlay__ {
			phy-handle = <&qphy2>;
			phy-connection-type = "qsgmii";
			status = "okay";
		};
	};

	fragment@7 {
		target = <&switch_port3>;
		__overlay__ {
			phy-handle = <&qphy3>;
			phy-connection-type = "qsgmii";
			status = "okay";
		};
	};

	fragment@8 {
		target = <&switch_port4>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&switch_port5>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			eeprom@57 {
				compatible = "atmel,24c32";
				reg = <0x57>;
			};
		};
	};
};

