/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "kontron,sl28", "fsl,ls1028a";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			can0_en_reg: can0-regulator {
				compatible = "regulator-fixed";
				regulator-name = "can0_en";
				gpio = <&carrier_gpio0 6 0>;
				enable-active-high;
			};

			can1_en_reg: can1-regulator {
				compatible = "regulator-fixed";
				regulator-name = "can1_en";
				gpio = <&carrier_gpio0 7 0>;
				enable-active-high;
			};

			sound {
				compatible = "fsl,imx-audio-wm8904";
				model = "imx-wm8904";
				sai-controllers = <&sai6 &sai5>;
				audio-codec = <&wm8904>;
				audio-routing =
					"Line Out Jack", "LINEOUTR",
					"Line Out Jack", "LINEOUTL",
					"Headphone Jack", "HPOUTR",
					"Headphone Jack", "HPOUTL",
					"IN1L", "Line In Jack",
					"IN1R", "Line In Jack",
					"Mic Jack", "MICBIAS",
					"IN2L", "Mic Jack",
					"IN2R", "Mic Jack";
			};

			fan0: pwm-fan {
					compatible = "pwm-fan";
					cooling-min-state = <0>;
					cooling-max-state = <3>;
					#cooling-cells = <2>;
					pwms = <&cpld_pwm0 0 4000000>;
					cooling-levels = <1 128 192 255>;
			};
		};
	};

	fragment@1 {
		target = <&soc>;

		__overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;

			wm8904_mclk: wm8904-mclk@f130080 {
				compatible = "fsl,vf610-sai-clock";
				reg = <0x0 0xf130080 0x0 0x80>;
				clocks = <&clockgen 4 1>;
				#clock-cells = <0>;
			};
		};
	};

	fragment@2 {
		target = <&i2c3>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			carrier_gpio0: tca9554@22 {
				compatible = "nxp,pca9554";
				reg = <0x22>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			carrier_gpio1: tca9554@24 {
				compatible = "nxp,pca9554";
				reg = <0x24>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			eeprom@57 {
				compatible = "atmel,24c64";
				reg = <0x57>;
			};
		};
	};

	fragment@3 {
		target = <&i2c4>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			wm8904: wm8904@1a {
				compatible = "wlf,wm8904";
				reg = <0x1a>;
				clocks = <&wm8904_mclk>;
				clock-names = "mclk";
				assigned-clocks = <&wm8904_mclk>;
				assigned-clock-rates = <1250000>;
			};

			carrier_gpio2: tca9554@20 {
				compatible = "nxp,pca9554";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};
		};
	};

	fragment@4 {
		target = <&can0>;
		__overlay__ {
			status = "okay";
			xceiver-supply = <&can0_en_reg>;
		};
	};

	fragment@5 {
		target = <&can1>;
		__overlay__ {
			xceiver-supply = <&can1_en_reg>;
		};
	};

	fragment@6 {
		target = <&soc>;
		__overlay__ {
			thermal-zones {
				core-cluster {
					trips {
						cpu_alert0: cpu-alert0 {
							temperature = <55000>;
							hysteresis = <2000>;
							type = "active";
						};

						cpu_alert1: cpu-alert1 {
							temperature = <65000>;
							hysteresis = <2000>;
							type = "active";
						};

						cpu_alert2: cpu-alert2 {
							temperature = <75000>;
							hysteresis = <2000>;
							type = "active";
						};
					};
					cooling-maps {
						map1 {
							trip = <&cpu_alert0>;
							cooling-device = <&fan0 0 1>;
						};
						map2 {
							trip = <&cpu_alert1>;
							cooling-device = <&fan0 1 2>;
						};
						map3 {
							trip = <&cpu_alert2>;
							cooling-device = <&fan0 2 3>;
						};
					};
				};
			};
		};
	};

	fragment@7 {
		target = <&dspi2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			bus-num = <3>;
			w25q128fw@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "jedec,spi-nor";
				m25p,fast-read;
				spi-max-frequency = <100000000>;
				reg = <0>;
			};
		};
	};
};
