/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "kontron,sl28", "fsl,ls1028a";

	fragment@0 {
		target = <&phy1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&enetc_port1>;
		__overlay__ {
			status = "okay";
		};
	};
};
