/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "kontron,sl28", "fsl,ls1028a";

	fragment@0 {
		target = <&enetc_port0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&enetc_port2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&switch_port0>;
		__overlay__ {
			phy-handle = <&phy0>;
			phy-connection-type = "sgmii";
			status = "okay";
		};
	};

	fragment@3 {
		target = <&switch_port1>;
		__overlay__ {
			phy-handle = <&phy1>;
			phy-connection-type = "sgmii";
			status = "okay";
		};
	};

	fragment@4 {
		target = <&switch_port4>;
		__overlay__ {
			status = "okay";
		};
	};
};
